<div class="container" style="max-width: 80%;">
    <div class="container titulo">
        <b class="fs-3 font-monospace"> Registrar un nuevo proyecto : </b>
    </div>
    <form [formGroup]="proyectoForm" class="row g-3 needs-validation" novalidate (submit)="enviar($event)" style="width: 100%;">
        <div class="col-md-4 position-relative">
            <div class="mb-3">
                <label for="exampleFormControlInput0" class="form-label">Id del cliente: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput0"
                formControlName="clienteId"
                value="{{clienteId}}"
                title="Id del cliente al que se le registrara el proyecto"
                readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero de contrato: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput1"
                 placeholder="Numero de contrato del proyecto" 
                 formControlName="numeroContrato"
                 [ngClass]="{'is-invalid': hasErrors('numeroContrato','required') || hasErrors('numeroContrato','minlength')}">
                @if(hasErrors('numeroContrato','required')){
                    <span class="text-danger">tines que rellenar este campo</span>
                }
                @if(hasErrors('numeroContrato','minlength')){
                    <span class="text-danger">El nombre debe tener minimo 3 caracteres</span>
                }                 
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Fecha de estimado: </label>
                <input type="email" class="form-control" 
                id="exampleFormControlInput2"
                 placeholder="16/02/2025 (dd/mm/aaaa)" 
                 formControlName="fechaEstimado"
                 [ngClass]="{'is-invalid': hasErrors('fechaEstimado','required') || hasErrors('fechaEstimado','minlength')}"/>
                 @if(hasErrors('fechaEstimado','required')){
                    <span class="text-danger">tines que rellenar este campo</span>
                 }
                 @if(hasErrors('fechaEstimado','minlength')){
                    <span class="text-danger">formato de email invalido</span>
                 }
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">Fecha de inicio: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput3"
                 placeholder="16/02/2025 (dd/mm/aaaa)" 
                 formControlName="fechaInicio"
                 [ngClass]="{'is-invalid': hasErrors('direccion','required') || hasErrors('direccion','minlength')}">
                 @if(hasErrors('direccion','required')){
                     <span class="text-danger">tines que rellenar este campo</span>
                 }
                 @if(hasErrors('direccion','minlength')){
                     <span class="text-danger">La Direccion debe tener minimo 4 caracteres</span>
                 }
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label">Contratante: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput4"
                 placeholder="Contratante" 
                 formControlName="contratante"
                 [ngClass]="{'is-invalid': hasErrors('contratante','required') || hasErrors('contratante','minlength')}">
                 @if(hasErrors('contratante','required')){
                     <span class="text-danger">tines que rellenar este campo</span>
                 }
                 @if(hasErrors('contratante','minlength')){
                     <span class="text-danger">El campo debe tener minimo 4 caracteres</span>
                 }
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput5" class="form-label">Email cliente: {{clienteEmail}} </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput5"
                placeholder="Este valor ya esta asignado" 
                formControlName="emailCliente"
                readonly>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput6" class="form-label">Valor aprovado: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput6"
                placeholder="Indique el valor con el que se aprobo el proyecto" 
                formControlName="valorAprobado"
                [ngClass]="{'is-invalid': hasErrors('valorAprobado','minlength')}">
                @if(hasErrors('valorAprobado','minlength')){
                    <span class="text-danger">El numero debe tener minimo 3 caracteres</span>
                }
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput7" class="form-label">Fecha de pago, del valor aprovado: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput7"
                title="Si ya se a pagado la totalidad del pago, indique la fecha en la que se ha completado"
                placeholder="16/02/2025 (dd/mm/aaaa)" 
                formControlName="fechaDePagoValorAprobado"
                [ngClass]="{'is-invalid': hasErrors('fechaDePagoValorAprobado','minlength')}">
                @if(hasErrors('fechaDePagoValorAprobado','minlength')){
                    <span class="text-danger">La fecha debe tener minimo 3 caracteres</span>
                }
            </div>
        <div class="col-12" style="margin: 20px 0px;">
          <button class="btn btn-success" type="submit">Registrar</button>
        </div>
</div>
