<div class="container" style="max-width: 80%;">
    <div class="container titulo">
        <b class="fs-3 font-monospace">Registrar un nuevo proyecto: </b>
    </div>
    <form [formGroup]="proyectoForm" class="row g-3 needs-validation" novalidate (submit)="enviar($event)" style="width: 100%;">
        <div class="col-md-4 position-relative">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero de contrato: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput1"
                 placeholder="Numero de contrato del proyecto" 
                 formControlName="numeroContrato"
                 [ngClass]="{'is-invalid': hasErrors('numeroContrato','required') || hasErrors('numeroContrato','minlength')}">
                @if(hasErrors('numeroContrato','required')){
                    <span class="text-danger">tines que rellenar este campo</span>
                }
                @if(hasErrors('numeroContrato','minlength')){
                    <span class="text-danger">El nombre debe tener minimo 3 caracteres</span>
                }                 
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha de estimado: </label>
                <input type="email" class="form-control" 
                id="exampleFormControlInput2"
                 placeholder="16/02/2025 (dd/mm/aaaa)" 
                 formControlName="fechaEstimado"
                 [ngClass]="{'is-invalid': hasErrors('fechaEstimado','required') || hasErrors('fechaEstimado','minlength')}"/>
                 @if(hasErrors('fechaEstimado','required')){
                    <span class="text-danger">tines que rellenar este campo</span>
                 }
                 @if(hasErrors('fechaEstimado','minlength')){
                    <span class="text-danger">formato de email invalido</span>
                 }
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha de inicio: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput3"
                 placeholder="16/02/2025 (dd/mm/aaaa)" 
                 formControlName="fechaInicio"
                 [ngClass]="{'is-invalid': hasErrors('direccion','required') || hasErrors('direccion','minlength')}">
                 @if(hasErrors('direccion','required')){
                     <span class="text-danger">tines que rellenar este campo</span>
                 }
                 @if(hasErrors('direccion','minlength')){
                     <span class="text-danger">La Direccion debe tener minimo 4 caracteres</span>
                 }
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Contratante: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput4"
                 placeholder="Contratante" 
                 formControlName="contratante"
                 [ngClass]="{'is-invalid': hasErrors('contratante','required') || hasErrors('contratante','minlength')}">
                 @if(hasErrors('contratante','required')){
                     <span class="text-danger">tines que rellenar este campo</span>
                 }
                 @if(hasErrors('contratante','minlength')){
                     <span class="text-danger">El numero debe tener minimo 10 caracteres</span>
                 }
            </div>
            @if(clienteEmail){
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email cliente: </label>
                    <input type="text" class="form-control" 
                    id="exampleFormControlInput5"
                     placeholder="Indique quien ha referido el cliente" 
                     formControlName="emailCliente"
                     readonly />
                </div>
            }
            @if(clienteEmail==undefined || clienteEmail==''){
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email cliente: </label>
                    <input type="text" class="form-control" 
                    id="exampleFormControlInput5"
                     placeholder="Indique quien ha referido el cliente" 
                     formControlName="emailCliente"
                     [ngClass]="{'is-invalid': hasErrors('emailCliente','required') || hasErrors('emailCliente','email')}"/>
                     @if(hasErrors('emailCliente','required')){
                        <span class="text-danger">tines que rellenar este campo</span>
                     }
                     @if(hasErrors('emailCliente','email')){
                        <span class="text-danger">formato de email invalido</span>
                     }
                </div>
            }
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor aprovado: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput6"
                 placeholder="Indique quien ha referido el cliente" 
                 formControlName="referidoPor"
                 >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha de pago, del valor aprovado: </label>
                <input type="text" class="form-control" 
                id="exampleFormControlInput7"
                title="Si ya se a pagado la totalidad del pago, indique la fecha en la que se ha completado"
                 placeholder="16/02/2025 (dd/mm/aaaa)" 
                 formControlName="fechaDePagoValorAprovado"
                 >
            </div>
        <div class="col-12" style="margin: 20px 0px;">
          <button class="btn btn-success" type="submit">Registrar</button>
        </div>
</div>
