@if (loading){
    <h5>Cargando ...</h5>
}

@if (!loading){
    <div class="container">
        <div class="card" style="width: 18rem;">
            <!-- <img src="{{cliente?.image}}" class="card-img-top" alt="{{cliente?.nombre}}"> -->
            <div class="card-header">
                <b>Nombre:</b> {{cliente?.nombre}}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-primary list-group-item-action" (click)="copiarCorreo(cliente?.email)">
                    <b>Email:</b> {{cliente?.email}}
                </li>
                <li class="list-group-item"><b>Contacto:</b> {{cliente?.contacto}}</li>
                <li class="list-group-item"><b>Referido por:</b> {{cliente?.referido_por}}</li>
            </ul>
        </div>
    </div>
}

<div class="container">
    <label for="nuevoProyecto" class="font-monospace" ><b class="fs-3">Registrar un nuevo proyecto al cliente {{cliente?.nombre}}:</b></label>
    <br>
    <button type="button" class="btn btn-outline-success" name="nuevoProyecto" (click)="onNuevoProyecto(cliente?.email)">
        Registrar
    </button>
</div>

<div class="container">
    <app-buscador-proyectos [clienteId]="clienteId"></app-buscador-proyectos>
</div>

<div class="container">
    <h1>Proyectos de {{cliente?.nombre}} </h1>
    <table class="table table-dark table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero de contrato</th>
                <th scope="col">Fecha de estimado</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            @for(proyecto of proyectosList; track $index){
                <tr>
                    <th scope="row">{{proyecto.proyectoId}}</th>
                    <td>{{proyecto.numeroContrato}}</td>
                    <td>{{proyecto.fecha_estimado}}</td>
                    <td>{{proyecto.fecha_inicio}}</td>
                    <td><button type="button" class="btn btn-outline-primary" (click)="onDetail(proyecto.proyectoId)">Detalles</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
