<div class="general-styles">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Renovations JRL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="cliente" [ngClass]="{active: menuOption == 'cliente'}" (click)="onOption('cliente')">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="proyectos" [ngClass]="{active: menuOption == 'proyectos'}" (click)="onOption('proyectos')">Proyectos</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="registrar" [ngClass]="{active: menuOption == 'registrar'}" (click)="onOption('registrar')">Registrar nuevo cliente</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="correos" [ngClass]="{active: menuOption == 'correos'}" (click)="onOption('correos')">Obtener correos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    agregar buscador...
    <app-buscador-clientes></app-buscador-clientes>
  </div>
  <router-outlet />
</div>
