@if (loading){
    <h5>Cargando ...</h5>
}

@if (!loading){
    <div class="container">
        <div class="card" style="width: 22rem;">
            <!-- <img src="{{cliente?.image}}" class="card-img-top" alt="{{cliente?.nombre}}"> -->
            <div class="card-header">
                <ul>
                    <li class="list-group-item fs-3">
                        <b>Numero de contrato: </b> 
                        <br>
                        {{proyecto?.numeroContrato}}
                    </li>
                </ul>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-success">
                    <b class="fs-4 font-monospace">Valor aprovado:</b><p class="fs-5">{{proyecto?.valor_aprovado}}</p>
                </li>
                <li class="list-group-item"><b>Contratante: </b> {{proyecto?.contratante}}</li>
                <li class="list-group-item"><b>Email del cliente: </b> {{proyecto?.emailCliente}}</li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary" (click)="onComponent('documentos', proyecto?.proyectoId)">
                        Ver Documentos
                    </button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-success" (click)="onComponent('imagenesAntes', proyecto?.proyectoId)">
                        Ver galeria del antes
                    </button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-success" (click)="onComponent('imagenesDespues', proyecto?.proyectoId)">
                        Ver galeria del despues
                    </button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-danger" (click)="onComponent('editarProyecto', proyecto?.proyectoId)">
                        Editar este proyecto
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col" class="fs-3">Guardar: </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b class="font-monospace fs-5">Guardar nuevo documento:</b></td>
                    <td>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon04" 
                            aria-label="Upload">
                            <button type="button" class="btn btn-outline-warning" (click)="onRegistrar('nuevoDocumento', proyecto?.proyectoId)">
                                Guardar
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><b class="font-monospace fs-5">Guardar nueva imagen del antes: </b></td>
                    <td>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile02" aria-describedby="inputGroupFileAddon04" 
                            aria-label="Upload">
                            <button type="button" class="btn btn-outline-warning" (click)="onRegistrar('nuevoDocumento', proyecto?.proyectoId)">
                                Guardar
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><b class="font-monospace fs-5">Guardar nueva imagen del despues: </b></td>
                    <td>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon04" 
                            aria-label="Upload">
                            <button type="button" class="btn btn-outline-warning" (click)="onRegistrar('nuevoDocumento', proyecto?.proyectoId)">
                                Guardar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
<div class="container">
    <p class="fs-3">Pagos del cliente: </p>
    <p class="fs-5">Registar pago del cliente: </p>
    <button type="button" class="btn btn-outline-primary" (click)="onComponent('nuevoPagoCliente', proyecto?.proyectoId)"
    style="margin-bottom: 20px;">
        Registrar
    </button>
    <table class="table table-dark table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha de pago</th>
                <th scope="col">Metodo de pago</th>
                <th scope="col">Valor pagado</th>
                <!-- <th scope="col">Detalles</th> -->
            </tr>
        </thead>
        <tbody>
            @for(pagoCliente of pagosCleinte; track $index){
                <tr>
                    <td>{{pagoCliente.fecha_pago}}</td>
                    <td>{{pagoCliente.metodo_pago}}</td>
                    <td>{{pagoCliente.valor_pagado}}</td>
                    <!-- <td><button type="button" class="btn btn-outline-primary" (click)="onDetail(pagoCliente.id)">Detalles</button></td> -->
                </tr>
            }
        </tbody>
    </table>
    @if(!loading){
        <p> <b>Total pagado: </b> {{sumaPagos}} </p>
    }
    <!-- <p> <b>Falta por pagar: </b> {{faltaPagar?}} </p> -->
</div>
<div class="container">
    <p class="fs-3">Pagos a compañias aliadas: </p>
    <p class="fs-5">Registrar pago a compañia aliada: </p>
    <button type="button" class="btn btn-outline-primary" (click)="onComponent('nuevoPagoAliado', proyecto?.proyectoId)"
    style="margin-bottom: 20px;">
        Registrar
    </button>
    <table class="table table-dark table table-striped">
        <thead>
            <tr>
                <th scope="col">Compañia aliada</th>
                <th scope="col">Valor pagado</th>
                <th scope="col">Fecha de pago</th>
                <!-- <th scope="col">Detalles</th> -->
            </tr>
        </thead>
        <tbody>
            @for(pagoAliado of pagosAliados; track $index){
                <tr>
                    <td>{{pagoAliado.empresaAliada}}yecto
                    <td>{{pagoAliado.valorPagado}}</td>
                    <td>{{pagoAliado.fechaDePago}}</td>
                    <!-- <td><button type="button" class="btn btn-outline-primary" (click)="onDetail(pagoCliente.id)">Detalles</button></td> -->
                </tr>
            }
        </tbody>
    </table>
</div>
